<h1><span class="label label-default">Modes</span></h1>
<button id="a" type="button" class="btn btn-default">Load</button>

<div class="container-fluid">
  <div class="row">
	<div class="col-sm-12">
	  <div class="chart-wrapper">
		<div class="chart-title">
		  Fotografias
		  <div class="pull-right btn-group">
			<button type="button" class="btn btn-primary">Action</button>
			<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
			  <span class="caret"></span>
			  <span class="sr-only">Toggle Dropdown</span>
			</button>
			<ul class="dropdown-menu" role="menu">
			  <li><a href="#">Action</a></li>
			  <li><a href="#">Another action</a></li>
			  <li><a href="#">Something else here</a></li>
			  <li class="divider"></li>
			  <li><a href="#">Separated link</a></li>
			</ul>
		  </div>
		</div>
		<div class="chart-stage">
		  <div id="chart01">
		  </div>
		</div>
		<div class="chart-notes">

		</div>
	  </div>
	</div>
  </div>

  <div class="row">
	<div class="col-sm-6 col-md-4">
	  <div class="chart-wrapper">
		<div class="chart-title">
		  Cell Title
		</div>
		<div class="chart-stage">
		  <div id="chart03">
		  </div>
		</div>
		<div class="chart-notes">
		  Notes about this chart
		</div>
	  </div>
	</div>
	<div class="col-sm-6 col-md-4">
	  <div class="chart-wrapper">
		<div class="chart-title">
		  Cell Title
		</div>
		<div class="chart-stage">
		  <div id="chart04">
		  </div>
		</div>
		<div class="chart-notes">
		  Notes about this chart
		</div>
	  </div>
	</div>
	<div class="col-sm-6 col-md-4">
	  <div class="chart-wrapper">
		<div class="chart-title">
		  Cell Title
		</div>
		<div class="chart-stage">
		  <div id="chart05">
		  </div>
		</div>
		<div class="chart-notes">
		  Notes about this chart
		</div>
	  </div>
	</div>
	<!-- end of three -->
	<div class="col-sm-6 col-md-4">
	  <div class="chart-wrapper">
		<div class="chart-title">
		  Cell Title
		</div>
		<div class="chart-stage">
		  <div id="chart06">
		  </div>
		</div>
		<div class="chart-notes">
		  Notes about this chart
		</div>
	  </div>
	</div>
	<div class="col-sm-6 col-md-4">
	  <div class="chart-wrapper">
		<div class="chart-title">
		  Cell Title
		</div>
		<div class="chart-stage">
		  <div id="chart07">
		  </div>
		</div>
		<div class="chart-notes">
		  Notes about this chart
		</div>
	  </div>
	</div>
	<div class="col-sm-6 col-md-4">
	  <div class="chart-wrapper">
		<div class="chart-title">
		  Cell Title
		</div>
		<div class="chart-stage">
		  <div id="chart08">
		  </div>
		</div>
		<div class="chart-notes">
		  Notes about this chart
		</div>
	  </div>
	</div>
  </div>
</div>