<h1>Keen IO Raw Stats</h1>
<a href="/webstats/art" class="btn btn-default">Fotografias Guatemala</a>
<a href="/webstats/modes" class="btn btn-default">Modos de Juego</a>
<a href="/webstats/screen" class="btn btn-default">Secciones/Pantallas</a>
<a href="#" class="btn btn-default">Algo mas</a>
