# Place all the behaviors and hooks related to the matching controller here.
# All this logic will automatically be available in application.js.
# You can use CoffeeScript in this file: http://coffeescript.org/

all_json = {}
hooverText = {}

ready = ->
	client = new Keen(
		projectId: '<%= Rails.application.secrets.keen_projectid %>',
		readKey: '<%= Rails.application.secrets.keen_readkey %>',
		protocol: 'https',
		host: 'api.keen.io/3.0',
		requestType: 'jsonp')

	d3.select(window).on('resize', resize_p)

	if $('body.webstats.art').length
		run_query_art_count client, '#chart01', 'barchart'

	$('#daterange span').html(moment().subtract(29, 'days').format('D/MMMM/YYYY') + ' - ' + moment().format('D/MMMM/YYYY'));
	$('#daterange').daterangepicker {
			format: 'DD/MM/YYYY',
			startDate: moment().subtract(29, 'days'),
			endDate: moment(),
			minDate: '01/01/2012',
			maxDate: '31/12/2015',
			dateLimit: { days: 60 },
			showDropdowns: true,
			showWeekNumbers: true,
			timePicker: false,
			timePickerIncrement: 1,
			timePicker12Hour: true,
			ranges: {
				'Today': [moment(), moment()],
				'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
				'Last 7 Days': [moment().subtract(6, 'days'), moment()],
				'Last 30 Days': [moment().subtract(29, 'days'), moment()],
				'This Month': [moment().startOf('month'), moment().endOf('month')],
				'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
			},
			opens: 'left',
			drops: 'down',
			buttonClasses: ['btn', 'btn-sm'],
			applyClass: 'btn-primary',
			cancelClass: 'btn-default',
			separator: ' to ',
			locale: {
				applyLabel: 'Submit',
				cancelLabel: 'Cancel',
				fromLabel: 'From',
				toLabel: 'To',
				customRangeLabel: 'Custom',
				daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr','Sa'],
				monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
				firstDay: 1
			}
		},
		(start, end, label) ->
			$('#daterange span').html(start.format('D/MMMM/YYYY') + ' - ' + end.format('D/MMMM/YYYY'));

			$('.time-span').removeClass('btn-success')
			$('#daterange').removeClass('btn-default')
			$('.time-span').addClass('btn-default')
			$('#daterange').addClass('btn-success')

			$('#time_span').val ''
			$('#time_span').attr 'fromDate', start.toISOString()
			$('#time_span').attr 'toDate', end.toISOString()

			run_query_art_count client, '#chart01', 'barchart'
			return

	$('.time-span').click ->
		$('.time-span').removeClass('btn-success')
		$('#pick_date').removeClass('btn-success')
		$('.time-span').addClass('btn-default')
		$('#pick_date').addClass('btn-default')
		$(this).removeClass('btn-default')
		$(this).addClass('btn-success')

		$('#time_span').val $(this).attr('data-time')
		$('#time_span').attr 'fromDate', ''
		$('#time_span').attr 'toDate', ''

		run_query_art_count client, '#chart01', 'barchart'
		return

	return

$(document).ready ready
$(document).on 'page:load', ready

run_query_art_count = (client, element, type) ->
	if $('#time_span').val() && $('#time_span').val() != ''
		query_art_count = new (Keen.Query)('count',
			eventCollection: 'artSeen'
			groupBy: 'picName'
			timeframe: $('#time_span').val())
	else
		console.log $('#time_span').attr 'fromdate'
		console.log $('#time_span').attr 'todate'
		query_art_count = new (Keen.Query)('count',
			eventCollection: 'artSeen'
			groupBy: 'picName'
			timeframe:
				{start: $('#time_span').attr 'fromdate'
				end: $('#time_span').attr 'todate'})

	$(element).append '<div class="loady"><div class="arc1"></div></div>'

	client.run query_art_count, (err, res) ->
		if err
		else
			if all_json[element] == undefined
				all_json[element] = {}
				all_json[element]['data'] = {}
			else
				i = 0
				while i < Object.keys(all_json[element]['data']).length
					name = Object.keys(all_json[element]['data'])[i]
					all_json[element]['data'][name]['old'] = all_json[element]['data'][name]['new']
					all_json[element]['data'][name]['new'] = null
					i++

#			console.log all_json[element]

			i = 0
			while i < res.result.length
				if all_json[element]['data'][res.result[i]['picName']] == undefined
					all_json[element]['data'][res.result[i]['picName']] = {}
					all_json[element]['data'][res.result[i]['picName']]['old'] = 0
				all_json[element]['data'][res.result[i]['picName']]['new'] = res.result[i]['result']
				i++

#			console.log all_json[element]

			i = 0
			while i < Object.keys(all_json[element]['data']).length
				name = Object.keys(all_json[element]['data'])[i]
				if all_json[element]['data'][name]['old'] == 0 && all_json[element]['data'][name]['new'] == undefined
					all_json[element]['data'].splice i, 1
				else
					i++

#			console.log all_json[element]

#			all_json[element]['data'].sort (a, b) ->
#				console.log 'aa'
#				if (a.picName > b.picName)
#					return 1;
#				if (a.picName < b.picName)
#					return -1;
#				return 0

			all_json[element]['type'] = type

			drawBar element, false
		return

	return

resize_p = ->
	$('.chart').each ->
		if all_json['#'+$(this).attr('id')]
			if all_json['#'+$(this).attr('id')]['type'] == 'barchart'
				drawBar '#'+$(this).attr('id'), true
			else
				drawBar '#'+$(this).attr('id'), true
	return

drawBar = (element, resize) ->
	$(element).html('');
	dataset = $.map all_json[element]['data'],  (value, index) ->
		thing = value
		thing['name'] = index
		return [thing];
#	console.log dataset

	axis_XOffset = 60
	axis_YOffset = 10
	text_YOffset = 7
	text_H = 25
	graph_H = $(element).height() - (axis_YOffset + text_H + 2*text_YOffset)
	graph_W = $(element).width() - (axis_XOffset)
	graph_Offset = graph_W * 10 / 100
	allbars_W = (graph_W - graph_Offset)

	i = 0
	total = 0
	old_max = 0
	new_max = 0
	old_length = 0
	new_length = 0
	while i < dataset.length
		total += dataset[i].new
		if dataset[i].new > new_max
			new_max = dataset[i].new
		if dataset[i].old > old_max
			old_max = dataset[i].old
		if dataset[i].old > 0
			old_length++
		if dataset[i].new > 0
			new_length++
		i++

	if old_length == 0
		old_length = new_length
		
	if svgChart
		svgChart.remove()

	svgChart = d3.select(element)
	.append 'svg'
	.attr 'width', $(element).width()
	.attr 'height', $(element).height()

	#XSCALE
	scaleX = []
	scaleXNames = []

	if new_length == 0
		scaleX.push 0
		scaleX.push graph_W
		scaleXNames.push 'No Results'
		axis_width = graph_W
	else
		if new_length <= 1
			the_v = 0
		else
			the_v = graph_Offset / (new_length - 1)
		c = 0
		i = 0
		while c < dataset.length
			console.log dataset[c]
			if dataset[c].new != null
				console.log 'in' + dataset[c].name
				scaleX.push (( (allbars_W/new_length) + the_v) * i)
				scaleXNames.push dataset[i].name
				if c < dataset.length
					scaleX.push ((allbars_W/new_length) * (i+1))
					scaleXNames.push 'xxx'+i
				i++
			c++

		scaleX.push graph_W
		axis_width = allbars_W/new_length

	scaleXCount = d3.scale.ordinal()
	.range scaleX
	.domain scaleXNames

	xAxis = d3.svg.axis()
	.scale scaleXCount
	.orient "bottom"

	svgChart.append("g")
	.attr "class", "xaxis"
	.attr "transform", "translate("+axis_XOffset+"," + (axis_YOffset+graph_H+1) + ")"
	.call xAxis
	.selectAll ".tick text"
	.call wrap, axis_width

	#Y SCALE
	scaleYCount = d3.scale.linear()
	.domain [0, new_max]
	.range [graph_H, 0]

	yAxisTicks = d3.svg.axis()
	.scale scaleYCount
	.orient "left"
	.ticks 5

	svgChart.append("g")
	.attr "class", "yaxis"
	.attr "transform", "translate("+(axis_XOffset-1)+","+axis_YOffset+")"
	.call yAxisTicks

	rect = svgChart.selectAll 'rect'
	.data dataset
	.enter()
	.append 'rect'

	rect.on 'mouseover', (d, i) ->
		hooverText = svgChart.append 'text'
		.text d.name + ' = ' + d.new
		.attr 'text-anchor', 'middle'
		.attr 'x', $(element).width()/2
		.attr 'y', ->
			if new_max == 0
				new_h_ratio = 0
			else
				new_h_ratio = d.new / new_max
			return axis_YOffset + graph_H + text_YOffset + text_H
		.attr 'font-family', 'sans-serif'
		.attr 'font-size', text_H + 'px'

		d3.select this
		.transition()
		.duration 250
		.attr 'fill', ->
			if new_length <= 0
				v = 'rgb(165, 42, 42)'
			else
				v = d3.rgb(165,42,42).darker(3*((new_length-i)/new_length))
			return v
		return
	.on 'mouseout', (d, i) ->
		d3.select this
		.transition()
		.duration 350
		.attr 'fill', ->
			if new_length <= 0
				v = 'rgb(70,130,180)'
			else
				v = d3.rgb(70,130,180).darker(3*(i/new_length))
			return v
		hooverText.remove()
		return

	if !resize
		rect_animated = rect.transition()
		.duration 1000
		.each 'start', (d, i) ->
			d3.select this
			.attr 'x', ->
				j = 0
				c = 0
				while c < i
					if dataset[c].old > 0
						j++
					c++

				if old_length <= 1
					v = 0
				else
					v = graph_Offset / (old_length - 1)

				return (allbars_W/old_length + v) * j + axis_XOffset
			.attr 'y', ->
				if old_max == 0
					old_h_ratio = 0
				else
					old_h_ratio = d.old / old_max
				return graph_H - (old_h_ratio * graph_H) + axis_YOffset
			.attr 'width', ->
				if old_length <= 0
					v = 0
				else
					v = allbars_W/old_length
				return v
			.attr 'height', ->
				if old_max == 0
					old_h_ratio = 0
				else
					old_h_ratio = d.old / old_max
				return old_h_ratio * graph_H
			.attr 'fill', ->
				if old_length <= 0
					v = 'rgb(70,130,180)'
				else
					v = d3.rgb(70,130,180).darker(3*(i/old_length))
				return v
			return
	else
		rect_animated = rect

	rect_animated.attr 'x', (d, i) ->
		j = 0
		c = 0
		while c < i
			if dataset[c].new > 0
				j++
			c++

		if new_length <= 1
			v = 0
		else
			v = graph_Offset / (new_length - 1)
		return (allbars_W/new_length + v) * j + axis_XOffset
	.attr 'y', (d) ->
		if new_max == 0
			new_h_ratio = 0
		else
			new_h_ratio = d.new / new_max
		return graph_H - (new_h_ratio * graph_H) + axis_YOffset
	.attr 'width', (d) ->
		if new_length <= 0
			v = 0
		else
			v = allbars_W/new_length
		return v
	.attr 'height', (d) ->
		if new_max == 0
			new_h_ratio = 0
		else
			new_h_ratio = d.new / new_max
		return new_h_ratio * graph_H
	.attr 'fill', (d, i) ->
		if new_length <= 0
			v = 'rgb(70,130,180)'
		else
			v = d3.rgb(70,130,180).darker(3*(i/new_length))
		return v
	return

wrap = (texty, width) ->
	texty.each ->
		text = d3.select(this)
		if text.text().match(/xxx\d+/g) == null
			words = text.text().split(/\s+/).reverse()
			word = undefined
			line = []
			lineNumber = 0
			lineHeight = 1.1
			y = text.attr('y')
			dy = parseFloat(text.attr('dy'))
			tspan = text.text(null).append('tspan').attr('x', width/2).attr('y', y).attr('dy', dy + 'em')
			while word = words.pop()
				line.push word
				tspan.text line.join(' ')
				if tspan.node().getComputedTextLength() > width
					line.pop()
					tspan.text line.join(' ')
					line = [ word ]
					tspan = text.append('tspan').attr('x', width/2).attr('y', y).attr('dy', ++lineNumber * lineHeight + dy + 'em').text(word)
		else
			text.remove()
		return
	return