<h1><span class="label label-default">Application Activity</span></h1>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading" style="font-size: 26px; font-weight: bold;">
          App Installs/Upgrades/Uninstalls/First Play
          <span class="pull-right">
            <button id="daterange" type="button" class="btn btn-default">
              <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
              <span></span> <b class="caret"></b>
            </button>
          </span>
        </div>
        <div id="chart01" class="panel-body chart">

        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading" style="font-size: 26px; font-weight: bold;">
          Days of Use
        </div>
        <div id="chart02" class="panel-body chart">

        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading" style="font-size: 26px; font-weight: bold;">
          Days of Use
        </div>
        <div id="chart03" class="panel-body">
          <div style="background-color: #49c5b1; border-radius: 8px; text-align: center; padding: 10px 0; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; color: #fff;">
            <span class="chart-count" style="font-size:84px; font-weight: 700; line-height: 84px; display: block;">#</span>
            <span class="chart-title" style="font-size:24px; font-weight: 200; display: block;">Title</span>
          </div>
        </div>
        <div id="chart04" class="panel-body">
          <div style="background-color: #49c5b1; border-radius: 8px; text-align: center; padding: 10px 0; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; color: #fff;">
            <span class="chart-count" style="font-size:84px; font-weight: 700; line-height: 84px; display: block;">#</span>
            <span class="chart-title" style="font-size:24px; font-weight: 200; display: block;">Title</span>
          </div>
        </div>
        <div id="chart05" class="panel-body">
          <div style="background-color: #49c5b1; border-radius: 8px; text-align: center; padding: 10px 0; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; color: #fff;">
            <span class="chart-count" style="font-size:84px; font-weight: 700; line-height: 84px; display: block;">#</span>
            <span class="chart-title" style="font-size:24px; font-weight: 200; display: block;">Title</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>