<h1><span class="label label-default">Devices</span></h1>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading" style="font-size: 26px; font-weight: bold;">
          Cellphone Brand All Users
        </div>
        <div id="chart01" class="panel-body chart">

        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading" style="font-size: 26px; font-weight: bold;">
          Cellphone Models All Users
        </div>
        <div>
          <select id="chart02-select">
            <option value="">All</option>
            <% @brands.each do |key, value| %>
            <option value="<%= key %>"><%= "#{key} (#{value})" %></option>
            <% end %>
          </select>
        </div>
        <div id="chart02" class="panel-body chart">

        </div>
      </div>
    </div>
  </div>
</div>