<h1><span class="label label-default">Loss Activity</span></h1>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading" style="font-size: 26px; font-weight: bold;">
          Densidad de Pantalla
          <span class="pull-right">
            <button id="daterange" type="button" class="btn btn-default">
              <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
              <span></span> <b class="caret"></b>
            </button>
          </span>
        </div>
        <div id="chart01" class="panel-body chart">
        </div>
      </div>
    </div>
    <div class="col-md-12 col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading" style="font-size: 26px; font-weight: bold;">
          Dias de Uso vs Densidad de Pantalla
          <span class="pull-right">
            <button id="daterange" type="button" class="btn btn-default">
              <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
              <span></span> <b class="caret"></b>
            </button>
          </span>
        </div>
        <div id="chart02" class="panel-body chart">
        </div>
      </div>
    </div>
    <div class="col-md-12 col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading" style="font-size: 26px; font-weight: bold;">
          Proporcion de Pantalla
          <span class="pull-right">
            <button id="daterange" type="button" class="btn btn-default">
              <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
              <span></span> <b class="caret"></b>
            </button>
          </span>
        </div>
        <div id="chart03" class="panel-body chart">
        </div>
      </div>
    </div>
    <div class="col-md-12 col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading" style="font-size: 26px; font-weight: bold;">
          Dias de Uso vs Proporcion de Pantalla
          <span class="pull-right">
            <button id="daterange" type="button" class="btn btn-default">
              <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
              <span></span> <b class="caret"></b>
            </button>
          </span>
        </div>
        <div id="chart04" class="panel-body chart">
        </div>
      </div>
    </div>
    <div class="col-md-12 col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading" style="font-size: 26px; font-weight: bold;">
          Altura de Pantalla
          <span class="pull-right">
            <button id="daterange" type="button" class="btn btn-default">
              <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
              <span></span> <b class="caret"></b>
            </button>
          </span>
        </div>
        <div id="chart05" class="panel-body chart">
        </div>
      </div>
    </div>
    <div class="col-md-12 col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading" style="font-size: 26px; font-weight: bold;">
          Dias de Uso vs Altura de Pantalla
          <span class="pull-right">
            <button id="daterange" type="button" class="btn btn-default">
              <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
              <span></span> <b class="caret"></b>
            </button>
          </span>
        </div>
        <div id="chart06" class="panel-body chart">
        </div>
      </div>
    </div>
  </div>
</div>